

   <div class="preview">
    <h3>Form Preview</h3>
  
    <div *ngIf="formFields.length === 0">
      No fields found for this form.
    </div>
  
  
    <div *ngIf="formFields.length > 0 && isPreviewRoute">
   
      <app-text 
        *ngIf="formFields[currentIndex].type === 'text'" 
        [label]="formFields[currentIndex].label"
        [placeholder]="formFields[currentIndex].placeholder"
        (answerSelected)="storeAnswer($event)">
      </app-text>



      <app-dropdown 
        *ngIf="formFields[currentIndex].type === 'dropdown'" 
        [field]="formFields[currentIndex]"
        (answerSelected)="storeAnswer($event)">
       
      </app-dropdown>
  
      <app-radio 
        *ngIf="formFields[currentIndex].type === 'radio'" 
        [field]="formFields[currentIndex]"
        (answerSelected)="storeAnswer($event)">
        
      </app-radio>

      <app-lead-form 
        *ngIf="formFields[currentIndex].type === 'lead'"
        [field]="formFields[currentIndex]"
        [visitorId]="visitorId"
        >
      </app-lead-form>

  
      <div class="navigation-buttons">
        <button (click)="prev()" [disabled]="currentIndex === 0">Previous</button>
        <button (click)="next()" [disabled]="currentIndex === formFields.length - 1">Next</button>
      </div>
    </div>
  

    
    <!-----normal display---- -->



    <div *ngIf="formFields.length > 0 && !isPreviewRoute">
      <div *ngFor="let field of formFields">
       


        <app-text 
        *ngIf="field.type === 'text'" 
        [label]="field.label"
        [placeholder]="field.placeholder"
        (answerSelected)="storeAnswer($event)">
      </app-text>

  
        <app-dropdown 
          *ngIf="field.type === 'dropdown'" 
          [field]="field"
          (answerSelected)="storeAnswer($event)">
        </app-dropdown>
  
        <app-radio 
          *ngIf="field.type === 'radio'" 
          [field]="field"
          (answerSelected)="storeAnswer($event)">
        </app-radio>

        <app-lead-form 
         *ngIf="field.type === 'lead'"
         [field]="field"
         [visitorId]="visitorId"
        >
       </app-lead-form>
    

        <app-checkbox 
          *ngIf="field.type === 'checkbox'" 
          [field]="field"
          >
        </app-checkbox>
 
        <br><br>
      </div>

    </div>
  </div>
  


  

