

<div class="form-builder">
   
    <div class="sidebar">

      <div class="form-name">
        <div *ngIf="!isEditingName">
          <h3>{{formName}}</h3>
          <button (click)="isEditingName=true">Edit Name</button>
        </div>

        <div *ngIf="isEditingName">
          <input [(ngModel)]="formName"/>
          <button (click)="isEditingName=false">save</button>
        </div>

      </div>

      <h3>Select Field Type</h3>
      <button *ngFor="let field of fieldTypes" (click)="addField(field)">
        {{ field.label }}
      </button>
  
      
      <div *ngIf="selectedField" class="edit-panel">
        <h4>Edit Selected Field</h4>
  
        <label>Label:</label>
        <input [(ngModel)]="selectedField.label" /> 
  
        <label *ngIf="selectedField.type === 'text'">Placeholder:</label>
        <input *ngIf="selectedField.type === 'text'" [(ngModel)]="selectedField.placeholder" />
  
        
        <div *ngIf="selectedField.type === 'dropdown' || selectedField.type === 'radio'">
          <label>Options:</label>

          <div *ngFor="let opt of selectedField.options; let i = index">
            <input  [(ngModel)]="selectedField.options[i].value" />
            <button (click)="removeOption(i)">X</button>
          </div>

          <button (click)="addOption()">+ Add Option</button>
        </div>

      </div>

    </div>
  
    
    <div class="preview">

      <app-preview [formFields]="formFields" [isPreviewOnly]="false"></app-preview>


    </div>

</div>
  
  <button (click)="saveForm()">Save Form</button>
  <button (click)="copyLink()">CopyLink</button>
  <button (click)="goLive()">Go Live</button>
  