

<div class="form-builder">
   
    <div class="sidebar">

      <div class="form-name">
        <div *ngIf="!isEditingName">
          <h3>{{formName}}</h3>
          <button (click)="isEditingName=true">Edit Name</button>
        </div>

        <div *ngIf="isEditingName">
          <input [(ngModel)]="formName"/>
          <button (click)="isEditingName=false">save</button>
        </div>

      </div>

      <h3>Select Field Type</h3>
      <button *ngFor="let field of fieldTypes" (click)="addField(field)">
        {{ field.label }}
      </button>
  
      
      <div *ngIf="selectedField" class="edit-panel">
        <h4>Edit Selected Field</h4>
  
        <label>Label:</label>
        <input [(ngModel)]="selectedField.label" /> 
  
        <label *ngIf="selectedField.type === 'text'">Placeholder:</label>
        <input *ngIf="selectedField.type === 'text'" [(ngModel)]="selectedField.placeholder" />
  
        
        <div *ngIf="selectedField.type === 'dropdown' || selectedField.type === 'radio'">
          <label>Options:</label>

          <div *ngFor="let opt of selectedField.options; let i = index">
            <input  [(ngModel)]="selectedField.options[i].value" />
            <button (click)="removeOption(i)">X</button>
          </div>

          <button (click)="addOption()">+ Add Option</button>
        </div>

        <div *ngIf="selectedField?.type === 'lead'">
          <h5>Edit Lead Fields</h5>
          <div *ngFor="let subfield of selectedField.subfields; let i = index">
            <label>Subfield {{ i + 1 }} Label:</label>
            <input [(ngModel)]="subfield.label" />
            
            <label>Placeholder:</label>
            <input [(ngModel)]="subfield.placeholder" />
          </div>
          
        </div>

        <div *ngIf="selectedField?.type === 'checkbox'">
          <label>Checkbox Label:</label>
          <input [(ngModel)]="selectedField.labelText" />
        </div>


      </div>

    </div>
  
    
    <div class="preview">

      <app-preview [formFields]="formFields" [isPreviewOnly]="false"></app-preview>


    </div>

</div>
<br><br>

<div class="form-builder-actions">
  <button (click)="saveForm()">Save Form</button>
  <button  (click)="copyLink()">CopyLink</button>
  <button  (click)="goLive()">Go Live</button>
</div>  
 
<br><br>


<!-- Add this to your template -->
<div class="webhook-configuration">
  <h3>Webhook Configuration</h3>
  
  <div class="form-group">
    <label>Webhook URL:</label>
    <input [(ngModel)]="webhookConfig.url" placeholder="https://webhook.site/your-url" class="form-control">
  </div>
  
  <div class="form-check">
    <input type="checkbox" [(ngModel)]="webhookConfig.events.lead" id="leadCheckbox" class="form-check-input"  (change)="onWebhookCheckboxChange('lead')">
    <label for="leadCheckbox" class="form-check-label">Enable Lead Webhook</label>
  </div>
  
  <div class="form-check">
    <input type="checkbox" [(ngModel)]="webhookConfig.events.visit" id="visitCheckbox" class="form-check-input" (change)="onWebhookCheckboxChange('visit')">
    <label for="visitCheckbox" class="form-check-label">Enable Visit Webhook</label>
  </div>
  
  <button (click)="setupWebhook()" class="btn btn-primary">Save Configuration</button>
  
  <div class="test-buttons mt-3">
    <button (click)="testLeadWebhook()" [disabled]="!webhookConfig.events.lead" class="btn btn-secondary">
      Test Lead Webhook
    </button>
    <button (click)="testVisitWebhook()" [disabled]="!webhookConfig.events.visit" class="btn btn-secondary">
      Test Visit Webhook
    </button>
  </div>
</div>